{
  "presets": [
    [
      "@babel/preset-env",
      {
        "loose": false,
        "modules": "commonjs",
        "spec": true,
        "useBuiltIns": false,
        "debug": false,
        "targets": {
          "node": "8.11.4"
        },
        "ignoreBrowserslistConfig": true
      }
    ]
  ],
  "env": {
    "esm": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "loose": false,
            "modules": false,
            "spec": true,
            "useBuiltIns": false,
            "debug": false,
            "targets": {
              "node": "8.11.4"
            },
            "ignoreBrowserslistConfig": true
          }
        ]
      ]
    }
  },
  "plugins": []
}
